# ignore any bytecode files
*.pyc
__pycache__

# ignore mypy files
.mypy_cache

# ignore sprites folder
images

# ignore testing files
test_*

# ignoring package source info files
.SRCINFO

# ignore python venv
.venv
